.hero {
	display: flex;
	flex-direction: column;
}

#particles-js {
	background-color: black;
	mix-blend-mode: screen;
	z-index: 2;
}

#particles-js2 {
	position: absolute;
	height: 100vh;
	background-color: black;
	mix-blend-mode: screen;
	z-index: 3;
}

.hero-logo {
	height: 105vh;
	width: 100%;
	position: absolute;
	background-image: url(../img/home-hero-logo.png);
	background-size: cover;
	z-index: 1;
}

.netflix-logo img {	
	top: 75%;
	width: 30%;
	height: auto;
	position: absolute;
	z-index: 1;
}

.hero-charac {
	height: 105vh;
	width: 100%;
	position: absolute;
	background-image: url(../img/home-hero-characters-4.png);
	background-size: cover;
	z-index: 1;
}

.dragon-bg {
	height: 105vh;
	width: 100%;
	position: absolute;
	background-image: url(../img/home-hero-bg-4.jpg);
	background-size: cover;
}

.padding {
	height: 400vh; /* just padding so I can scroll */
	background-color: black
}