#particles-js {
	position: absolute;
	height: 100vh;
	background-color: black;
	mix-blend-mode: screen;
	z-index: 2;
	right: 0;  /* to fix chrome issue */
	left: 0;
}

#particles-js2 {
	position: absolute;
	height: 100vh;
	background-color: black;
	mix-blend-mode: screen;
	z-index: 3;
	right: 0;
	left: 0;
}

.hero {
	height: 100vh;
	width: 100%;
}

.scene {
	overflow: hidden;
	height: 105vh;
	width: 100%;
}

@media screen and (min-width: 900px) {
	.hero-logo {	
		height: 125%;
		width: 125%;
		background-image: url(../img/home-hero-logo.png);
		background-position: center;
		background-size: calc(2880px*0.8) calc(1717px*0.8);
		background-repeat: no-repeat;
		z-index: 1;
	}

	.hero-charac {
		height: 125%;
		width: 125%;
		background-image: url(../img/home-hero-characters-4.png);
		background-position: center;
		background-size: calc(2880px*0.8) calc(1717px*0.8);
		background-repeat: no-repeat;
		margin-left: -12.5%;
		z-index: 1;
	}

	.dragon-bg {
		height: 125%;
		width: 125%;
		background-image: url(../img/home-hero-bg-4.jpg);
		background-position: center;
		background-size: calc(2880px*0.8) calc(1717px*0.8);
		background-repeat: no-repeat;
		margin-left: -12.5%;
	}

	.hero-text {	
		padding-top: 1.5rem;
		color: white;
		font-size: 1.8rem;
	    font-family: 'Lato', sans-serif;
	    font-weight: 300;
	}

	.netflix-wrap {
		grid-area: 3/3/4/4;
		padding: 15rem 4rem 0 4rem;
	}

	.netflix-logo {
		height: 32%;
		background-image: url(../img/NowStreamingBlack.png);
		background-size: contain;
		background-repeat: no-repeat;
	}

	.netflix-wrap span {
		display: none;
	}

	.watch-box {
		grid-area: 3/2/4/3;			
	}	

	.divider {
		height: 108vh;
	}
}

.mobile-bg-wrap {
	position: absolute;
	height: 100vh;
	width: 100%;
}

.mobile-bg {
	width: 100%;
	height: 80vh;
	background-image: url(../img/home-mobile-2.jpg); 
	background-position: center;
	background-size: calc(1200px*0.72) calc(1132px*0.72);
	background-repeat: no-repeat;
}

.ytVideo {
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 1000;
	display: none;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: black;
}

.ytVideo iframe {
	max-width: 1280px;
	max-height: 720px;
	width: 100%;
	height: 100%;
}

.ytVideo i {
	position: absolute;
	color: white;
	top: 0;
	right: 0;
	padding: 2rem;
	opacity: 0.7;
	cursor: pointer;
}

.ytVideo i:hover {
	opacity: 1;
}

.hero-links {
	width: 100%;
	height: 100vh;
	position: absolute;
	z-index: 5;
	display: grid;
	grid-template: repeat(3, 1fr)/repeat(3, 1fr);
}

.watch-box a {
	width: 100%;
	height: 100%;
	grid-area: 3/3/4/4;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}


.divider {	
	width: 100%;
	position: absolute;
	z-index: 4;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}

@media screen and (max-width: 900px){
	.watch-box {
		grid-area: 2/2/3/3;	
	}

	.hero-text {	
		display: none;
	}

	.netflix-wrap {
		padding-top: 5rem;
		grid-area: 3/1/4/4;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.netflix-logo {	
		width: calc(4002px*0.15);
		height: calc(480px*0.15);
		background-image: url(../img/Netflix-Now-Streaming-image.png);
		background-size: contain;
		background-repeat: no-repeat;
		margin-bottom: 2rem;
	}

	.netflix-wrap span {
		background-color: #D81F26;
		padding: 1.5rem;
		font-size: 2rem;
		font-weight: bold;
		font-family: 'lato', sans-serif;
	}

	.netflix-wrap a {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}


	.divider {
		height: 80%;
		width: 200%;
	}
}

@media screen and (-webkit-device-pixel-ratio : 3){
	.divider {
		height: 75%;
	}
}

@media screen and (max-width: 600px) {

	.mobile-bg {
		background-size: calc(1200px*0.5) calc(1132px*0.5);
	}

	.netflix-logo {	
		width: calc(4002px*0.1);
		height: calc(480px*0.1);
	}
}

@media screen and (max-width: 400px) {
	.netflix-logo {
		width: calc(4002px*0.075);
		height: calc(480px*0.075);
	}
}

.watch-box {
	display: flex;
	flex-direction: column;
	align-items: center;
}


.watch-box a {
	width: 90px;
	height: 90px;
}

.play-arrow:hover {
	transform: scale(1.1);
	transition: 0.3s;	
}

.play-arrow:hover .circle{
	border: 3px solid rgba(255,255,255,.6);
}


.circle {
	width: 90px;
	height: 90px;
	border-radius: 100%;
	border: 3px solid rgba(255,255,255,1);
}

.arrow-right {
	height: 0;
	width: 0;
  	border-top: 10px solid transparent;
  	border-bottom: 10px solid transparent;  
  	border-left: 15px solid white;  	
  	transform: translate(37px, 32px);
}

.content {
	height: 100%;
	background-image: linear-gradient(#12161a 7%, black, #27050e);
	display: flex;
	flex-direction: column;
	align-items: center;
}

.contentWrap {
	margin-top: 2rem;
	width: 100%;
	height: 110vh;	
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	background-image: url(../img/heroes.jpg);
	background-position: 50% 70%;
	background-size: 1800px 1117px;
	background-repeat: no-repeat;
	mix-blend-mode: screen;
	font-family: 'IM Fell English', serif;
	color: white;	
}

.contentWrap p {
	font-size: 3rem;
	width: 45%;
	text-align: center;
}	

@media screen and (min-width: 900px) {
	.contentWrap {
		margin-top: 15rem;
		background-size: 120% auto;
	}	
}

@media screen and (max-width: 900px) {
	.contentWrap p {
		font-size: 5vw;
		width: 75%;
	}
}

.contentWrap h2 {
	font-size: 3rem;
}

.recentNews {
	width: 100%;
	min-height: 100%;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.news {
	font-family: 'IM Fell English', serif;
	color: white;
	display: flex;
	flex-direction: column;
	width: 100%;
	max-width: 600px;
	margin: 6rem;
}

.newsImage img {
	display: block;
	width: 100%;
	height: auto;
	max-width: 600px;
	max-height: 400px;
	border-radius: 7px;
	transition: 0.3s;
}

.newsImage:hover {
	transform: translateY(-.7rem);
	transition: 0.3s;
}

.newsTitle {
	font-size: 3rem;
	padding: 1.8rem 0;
}

.newsDesc {
	font-size: 1.8rem;
	font-family: 'Lato', sans-serif;
	opacity: 0.8;
}

.ezran img {
	max-height: calc(364px*0.6);
	max-width: calc(896px*0.6);
	width: 80vw;
	height: auto;
	margin-bottom: -3rem;
}

/*~~~ footer style ~~~*/

footer {
	position: static;
	max-width: 100vw;
	height: 200px;
	background-color: black;
	color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

footer img {
	height: 1.5rem;
	width: auto;
}

footer p {
	font-size: 1.5rem;
	text-align: center;
	padding: 0.2rem;
}

footer a {
	text-decoration: underline;
	font-size: 1.5rem;
}