#news {
	color: #d7a544;
}

@media screen and (max-width: 900px) {
	#news {
		color: white;
		border-bottom: 2px solid white;
	}
}

.heroSlider {
	height: 100%;
	width: 100vw;
	max-width: 100%;	
	padding: 15%;	
}

.imgWrap {
	top: 0;
	left: 0;
	position: absolute;
	height: 100%;
	max-width: 100%;
	width: 100vw;	
	z-index: -1;
}

.imgOverlay {
	position: absolute;
	height: 100%;
	width: 100%;
	background-image: linear-gradient(rgba(0,0,0,0), black);
	z-index: 1;
}

.img1 {
	background-image: url(../img/slider1.jpg);
}

.img2 {	
	background-image: url(../img/slider2.jpg);	
}

.img3 {
	background-image: url(../img/slider3.jpg);
}

.img4 {
	background-image: url(../img/slider4.jpg);
}

.imgSlide {
	height: 100%;
	width: 100%;
	position: absolute;
	background-repeat: no-repeat;
	background-position: top center;
	background-size: 105%;
	opacity: 0;
	transition: .8s;
}

@media screen and (max-width: 900px) {
	.heroSlider {
		height: 50vh;
		padding: 15% 7% 0 7%;
	}

	.imgWrap {
		height: 50vh;
	}

	.imgSlide {
		background-position: top right;
		background-size: cover;
	}

	.img3 {
		background-position: top center;
	}	
}

.imgOpacity {
	opacity: 1;
}

.sliderWrap {
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.sliderTitleWrap {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	max-width: 40%;	
}

.sliderTitle {
	color: white;
	font-size: 4rem;
	font-family: 'IM Fell English', serif;
	display: none;
	padding-bottom: 2rem;
	opacity: 0;
}

.titleActive {	
	animation: slide 0.3s linear, opacity .7s linear;
	display: block;
	opacity: 1;
}

@keyframes slide {
	0% {
		transform: translateY(5rem) scaleY(0);
	}

	100% {
		transform: translateY(0) scaleY(1);
	}
}

@keyframes opacity {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

.aTitle {
	font-size: 1.3rem;	
	font-family: 'lato',sans-serif;
	letter-spacing: .2rem;
	background-color: #e5a544;
	border-radius: 5px;
	padding: 1.5rem 3rem 1.5rem 3rem;
	display: none;
}

.aTitleActive {
	animation:  slide 0.3s linear, opacity .7s linear;
	display: block;
}


.sliderButtonsWrap {
	height: 100%;
	width: 15%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.sliderButtons {
	cursor: pointer;
	padding-bottom: 1rem;
	margin-bottom: 5rem;
	border-bottom: 1.8px solid rgba(255,255,255,0.4);
}

#btn4 {
	margin-bottom: 0;
}

@keyframes load {
	0% { 
		transform: translateY(1.1rem) scaleX(0);
		transform-origin: left; 
		
	}
	87.5% { 
		transform: translateY(1.1rem) scaleX(1);
		transform-origin: left;
	}

	87.51% {
		transform-origin: right;
	}

	100% { 		
		transform: translateY(1.1rem) scaleX(0);
		transform-origin: right;
	}
}

@media screen and (min-width: 900px) {
	.loading {
		width: 100%;
		transform: translateY(1.1rem) scaleX(0);
		border-bottom: 1.8px solid #e5a544;
	}

	.loadingWidth {
		animation: load 8s cubic-bezier(1, 1, 1, 0.9);
	}

	.roundButtons {
		display: none;
	}
}

.sliderButtonsText {
	color: white;
	font-family: 'lato',sans-serif;
	font-size: 1.5rem;
	font-weight: 300;
	line-height: 2.5rem;
	transition: 0.3s;
	opacity: 0.7;
	pointer-events: none;
}

.sliderActive {
	opacity: 1;
}

.sliderButtons:hover h4 {
	opacity: 1;
} 


@media screen and (max-width: 900px) {
	.sliderWrap {
		flex-direction: column;
		align-items: flex-start;
		justify-content: space-between;
	}

	.sliderTitle {
		font-size: 2.5rem;
	}
	
	.sliderTitleWrap {
		padding-top: 15%;
		max-width: 75%;
	}

	.sliderButtonsText {
		display: none;
	}

	.sliderButtonsWrap {
		height: 10%;
		width: 45%;		
		flex-direction: row;
	}

	.sliderButtons {
		border: none;		
	}

	.roundButtons {
		font-size: 2.5rem;
		color: #373736;
	}

	.roundActive {
		color: #e5a544;
	}
}

.feed {
	height: 100%;
	width: 100%;
	padding: 0 15% 0 15%;
}

.feedWrap {
	display: flex;
	flex-wrap: wrap;
	margin-top: -15rem;
}

@media screen and (max-width: 900px) {
	.feedWrap {
		margin-top: 0;
	}
}

.feedElem {
	height: 50vh;
	background-color: #e5a544;
	border-radius: 5px;
	margin: .5rem;
	display: flex;
	background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.5));
	overflow: hidden;	
}

.feedElem:hover .feedElemImg {
	transform: scale(1.05);
}

.Square {	
	width: 49%;	
}

.Rec {
	width: 24%;
}

.elemWrap {
	display: flex;
	align-items: flex-end;
}

.feedElem h3 {
	font-family: 'IM Fell English', serif;
	font-size: 3rem;
	padding: 4rem;
	width: 75%;
}


.feedElemImg {
	border-radius: 5px;
	height: 100%;
	width: 100%;
	background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.5)), var(--bg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	transition: 0.5s;
}

@media screen and (max-width: 900px) {
	.feed {
		padding: 0 5% 0 5%;
	}

	.Square {
		width: 100%
	}

	.Rec {
		width: 100%;
	}

	.feedElem h3 {
		padding: 2rem;
		width: 90%;
	}
}